{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "next/core-web-vitals"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "experimentalObjectRestSpread": true
    },
    "allowImportExportEverywhere": true,
    "project": [
      "**/tsconfig.json"
    ]
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "root": true,
  "ignorePatterns": [
    "node_modules/",
    "dist",
    "var",
    "coverage"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/ban-types": 0,
    "@typescript-eslint/no-unused-vars": [
      0,
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "comma-dangle": [
      "error"
    ],
    "no-underscore-dangle": [
      "error"
    ],
    "quotes": [
      "error",
      "backtick"
    ],
    "semi": [
      "error",
      "always"
    ]
  }
}