{
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended"
  ],
  "root": true,
  "ignorePatterns": [
    "node_modules/",
    "lib/",
    "var/",
    "coverage/"
  ],
  "rules": {
    "comma-dangle": [
      "error"
    ],
    "no-underscore-dangle": [
      "error"
    ],
    "quotes": [
      "error",
      "backtick"
    ],
    "semi": [
      "error",
      "always"
    ]
  }
}