{
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended"
  ],
  "rules": {
    "quotes": [
      "error",
      "backtick"
    ],
    "semi": [
      "error",
      "always"
    ]
  }
}
